body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    // His animation in Safari had a little jump at the end and this fixes that
    // in a way this is like culling in 3D
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &--main {
        // Block element take up all the width available to them
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveRight;
        animation-duration: 2s;

        // other options
        // animation-delay: 3s;
        // animation-iteration-count: 3;

        // https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
        animation-timing-function: ease-in-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        animation: moveLeft 2s ease-in-out;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    //how to put a gradient in text
    background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
    );

    //https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;

    transition: all 0.2s;

    &:hover {
        //chaining multiple transforms
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        //           x      y      blur   color
        text-shadow: 0.4rem 0.4rem 0.8rem rgba($color-black, 0.2);
    }
}
